//- Все примеси в этом файле должны начинаться c имени блока (video-yt)

mixin video-yt(props={}, mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' video-yt--' + modsList[i].trim();
      }
    }

  .video-yt(class=allMods)&attributes(attributes)
    .video-yt__poster
      img.lazyload(data-src=props.src data-srcset=props.srcset)
      +btn-play('','filled')
    block

