include ../pug/mixins.pug

<!doctype html>
<html class="page" lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/utils.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>XRDCARS</title>
    <link rel="icon" type="/image/png" href="images/favicon.png">
</head>

<body>
    <div class="page__inner">
        <div class="page__content">
            <!-- Start Navbar Area -->
            <div class="navbar-area">
                <div class="main-responsive-nav">
                    <div class="container">
                        <div class="main-responsive-menu">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="/images/logo/black-logo.svg" alt="image">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-navbar">
                    <div class="container-fluid">
                        <nav class="navbar navbar-expand-md">
                            <a class="navbar-brand" href="index.html">
                                <img src="/images/logo/white-logo.svg" class="white-logo" alt="image">
                                <img src="/images/logo/black-logo.svg" class="black-logo" alt="image">
                            </a>
                            <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link active">
                                            <span>Каталог</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="about-us.html" class="nav-link">
                                            <span>О компании</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="new-cars.html" class="nav-link">
                                            <span>Отзывы</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            <span>Услуги</span>
                                            <i class='bx bx-chevron-down'></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="about-us.html" class="nav-link">
                                                    <span>Растаможка</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="our-team.html" class="nav-link">
                                                    <span>Доставка</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">
                                                    <span>Оплата</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="auto-loan-calculator.html" class="nav-link">
                                                    <span>Гарантии</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            <span>Помощь</span>
                                            <i class='bx bx-chevron-down'></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="index.html" class="nav-link">
                                                    <span>Как купить</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="index-2.html" class="nav-link">
                                                    <span>Вопрос-ответы</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="index-2.html" class="nav-link">
                                                    <span>Блог</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            <span>Контакты</span>
                                        </a>
                                    </li>
                                    <li class="nav-item option-item option-item--phone">
                                        <a class="nav-link" href='tel:+71234567890'>+7 (123) 456-78-90</a>
                                    </li>
                                    <li class="nav-item option-item option-item--fav">
                                        <a class="nav-link">
                                            <i class='flaticon-love'></i>
                                            <span>Избранное</span>
                                            <i class='bx bx-chevron-down'></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="about-us.html" class="nav-link">
                                                    <span>Поиски</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="our-team.html" class="nav-link">
                                                    <span>Подписки</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="option-item option-item--choose-avto">
                                        <a class="navbar-btn" data-aside-open="#choose-car"> Подобрать авто
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- End Navbar Area -->
            
            <!-- Start Page Banner -->
            <div class="page-banner-area">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="page-banner-content">
                                <h1>Advanced Search</h1>

                                <ul class="pages-list">
                                    <li><a href="index.html">Home</a></li>
                                    <li>Pages</li>
                                    <li><span>Advanced Search</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Page Banner -->
            <div class="container">
                <buttton class="btn btn--show-modal btn--monitor-price btn--bottom-line" data-aside-open="#choose-car">
                    <span>Подобрать авто</span>
                </buttton>
            </div>

        </div>
        <div class="page__footer-wrapper">
            <!-- Start Footer Area -->
            <!-- Start Newsletter Area -->
            <div class="newsletter-area">
                <div class="container">
                    <div class="newsletter-inner-box">
                        <div class="row align-items-center">
                            <div class="col-xl-4">
                                <div class="newsletter-content">
                                    <h3>Подписаться на обновления</h3>
                                    <p>Получайте уведомления о новых поступлениях первым!</p>
                                </div>
                            </div>
                            <div class="newsletter-list newsletter-list--default">
                                <div class="newsletter-item newsletter-item--right newsletter-item--my-search">
                                    <select id="newsletter-my-search">
                                        <option value="1">BMW из Европы</option>
                                        <option value="2">Chevrolet Tahoe 2020-2023</option>
                                        <option value="3">Ford Mustang 2020-2023</option>
                                        <option value="4">Автодом</option>
                                    </select>
                                </div>
                                <div class="newsletter-item newsletter-item--left newsletter-item--default">
                                    <select class="js-choice" id="newsletter">
                                        <option value>Выбрать цель подписки</option>
                                        <option value="1">На все обновления</option>
                                        <option value="2">Из моего списка поисков</option>
                                        <option value="3">Добавить новый фильтр</option>
                                    </select>
                                </div>
                                </div>
                            <div class="col-lg-3 newsletter-socials socials">
                                <div class="newsletter-share-link">
                                    <a id="newsletter-share-email" target="_blank"><i class='bx bx-envelope'></i></a>
                                    <a href="#" target="_blank"><i class='bx bxl-whatsapp'></i></a>
                                    <a href="#" target="_blank"><i class='bx bxl-telegram'></i></a>
                                    <a href="#" target="_blank"><i class='flaticon-viber'></i></a>
                                    <a href="#" target="_blank"><i class='bx bxl-vk'></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Newsletter Area -->
            <footer class="footer-area pb-70">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-footer-widget">
                                <div class="logo-widget">
                                    <a href="index.html">
                                        <img src="/images/logo/white-logo.svg" alt="image">
                                    </a>
                                </div>
                                <p>Lorem ipsum dolor sit amet consetetur sadipscing elitr sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-footer-widget">
                                <h3>Полезные ссылки</h3>
                                <ul class="quick-links">
                                    <li>
                                        <a href="#"><i class='bx bxs-chevrons-right'></i>О нас</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class='bx bxs-chevrons-right'></i>Как заказать</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class='bx bxs-chevrons-right'></i>Оплата</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class='bx bxs-chevrons-right'></i>Доставка</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class='bx bxs-chevrons-right'></i>Таможня</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-footer-widget">
                                <h3>Мы на связи</h3>
                                <ul class="footer-info">
                                    <li>
                                        <span>Адрес:</span>
                                        <span>2364 Oakdale Avenue Clearwater, <br> FL 34620, New York, USA</span>
                                    </li>
                                    <li>
                                        <span>Телефон:</span>
                                        <span><a href="tel:15143126677">+1 (514) 312-6677</a></span>
                                    </li>
                                    <li>
                                        <span>Еще:</span>
                                        <div class="socials socials-footer">
                                            <div class="share-link">
                                                <a target="_blank"><i class='bx bx-envelope'></i></a>
                                                <a href="#" target="_blank"><i class='bx bxl-whatsapp'></i></a>
                                                <a href="#" target="_blank"><i class='bx bxl-telegram'></i></a>
                                                <a href="#" target="_blank"><i class='flaticon-viber'></i></a>
                                                <a href="#" target="_blank"><i class='bx bxl-vk'></i></a>
                                            </div>
                                        </div>

                                        <span><a href="mailto:hello@mund.com">hello@mund.com</a></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-footer-widget">
                                <h3>Наш Инстаграмм</h3>
                                <ul class="instagram-list">
                                    <li>
                                        <div class="box">
                                            <img src="/images/instagram/instagram-1.jpg" alt="image">
                                            <i class="bx bxl-instagram"></i>
                                            <a href="#" target="_blank" class="link-btn"></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="box">
                                            <img src="/images/instagram/instagram-2.jpg" alt="image">
                                            <i class="bx bxl-instagram"></i>
                                            <a href="#" target="_blank" class="link-btn"></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="box">
                                            <img src="/images/instagram/instagram-3.jpg" alt="image">
                                            <i class="bx bxl-instagram"></i>
                                            <a href="#" target="_blank" class="link-btn"></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="box">
                                            <img src="/images/instagram/instagram-4.jpg" alt="image">
                                            <i class="bx bxl-instagram"></i>
                                            <a href="#" target="_blank" class="link-btn"></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="box">
                                            <img src="/images/instagram/instagram-5.jpg" alt="image">
                                            <i class="bx bxl-instagram"></i>
                                            <a href="#" target="_blank" class="link-btn"></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="box">
                                            <img src="/images/instagram/instagram-6.jpg" alt="image">
                                            <i class="bx bxl-instagram"></i>
                                            <a href="#" target="_blank" class="link-btn"></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="box">
                                            <img src="/images/instagram/instagram-7.jpg" alt="image">
                                            <i class="bx bxl-instagram"></i>
                                            <a href="#" target="_blank" class="link-btn"></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="box">
                                            <img src="/images/instagram/instagram-8.jpg" alt="image">
                                            <i class="bx bxl-instagram"></i>
                                            <a href="#" target="_blank" class="link-btn"></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="box">
                                            <img src="/images/instagram/instagram-9.jpg" alt="image">
                                            <i class="bx bxl-instagram"></i>
                                            <a href="#" target="_blank" class="link-btn"></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End Footer Area -->
            <!-- Start Copy Right Area -->
            <div class="copyright-area">
                <div class="container">
                    <div class="copyright-area-content">
                        <p> Copyright &#x40; 2023 Mund is proudly created by
                            <a href="https://envytheme.com/" target="_blank"> EnvyTheme </a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Copy Right Area -->
        </div>
    </div>
    <!-- Расширенный поиск на главной -->
    <div class="aside-form" id="search-advanced">
        <div class="aside-form__overlay" data-aside-close="data-aside-close"></div>
        <div class="aside-form__content">
            <div class="aside-form__header">
                <div class="aside-form__title">Расширенный поиск</div>
                <button class="btn close aside-form__close" type="button" aria-label="Close modal" title="Закрыть" data-aside-close="data-aside-close"></button>
            </div>
            form.form-filter-main
                +filter-content
                .btn.btn--submit Применить
        </div>
    </div>
    <!-- Добавить новый фильтр -->
    <div class="aside-form" id="add-search-for-newsletter">
        <div class="aside-form__overlay" data-aside-close="data-aside-close"></div>
        <div class="aside-form__content">
            <div class="aside-form__header">
                <div class="aside-form__title">Добавить новый фильтр</div>
                <button class="btn close aside-form__close" type="button" aria-label="Close modal" title="Закрыть" data-aside-close="data-aside-close"></button>
            </div>
            +filter-content
            <div class="aside-form__footer">
                <div class="section-btn">
                    <button class="btn default-btn" id="search-advanced-submit"> Добавить новый фильтр
                        <span style="top: -507px; left: -852.15px;"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Подобрать авто -->
    <div class="aside-form" id="choose-car">
        <div class="aside-form__overlay" data-aside-close="data-aside-close"></div>
        <div class="aside-form__content">
            <div class="aside-form__header">
                <div class="aside-form__title">Закажите индивидуальный подбор</div>
                <button class="btn close aside-form__close" type="button" aria-label="Close modal" title="Закрыть" data-aside-close="data-aside-close"></button>
            </div>
            +filter-content-choose
            <div class="aside-form__footer">
                <div class="section-btn">
                    //- <button class="btn default-btn" id="search-advanced-submit"> Подобрать авто
                    //-     <span style="top: -507px; left: -852.15px;"></span>
                    //- </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Start Go Top Area -->
    <div class="go-top">
        <i class='bx bx-up-arrow-alt'></i>
    </div>
    <!-- End Go Top Area -->

    <!-- Модалка Подписки на почту -->
    <div class="modal fade" id="newsletter-email-modal" aria-hidden="true" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
                <label>
                    <input type="email" class="form-field" placeholder="Электронная почта">
                </label>
            </form>
          </div>
          <div class="modal-footer">
            <button type="submit" class="disabled">Получать на почту</button>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/utils.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>