/*================================================
Blog Details Area CSS
=================================================*/
.blog-details-desc {
    .article-content-box {
        background-color: #f6f7f9;
        padding: 10px;
        border-radius: 5px;

        .article-content {
            padding-top: 30px;
            padding-bottom: 20px;
            padding-left: 20px;
            padding-right: 20px;

            .tag {
                display: inline-block;
                padding: 5px 20px;
                background-color: $main-color;
                color: $white-color;
                font-size: 18px;
                font-weight: 500;
                font-family: $heading-font-family;
                border-radius: 30px;
            }

            h3 {
                font-size: 36px;
                margin-top: 18px;
                margin-bottom: 20px;

                a {
                    color: $black-color;
                }
            }

            .entry-meta {
                ul {
                    padding-left: 0;
                    margin-bottom: 20px;

                    li {
                        list-style-type: none;
                        display: inline-block;
                        position: relative;
                        padding-left: 22px;
                        margin-right: 25px;
                        color: #929ba4;
                        font-size: $font-size;
                        position: relative;

                        &::before {
                            position: absolute;
                            right: -15px;
                            top: 4px;
                            width: 1px;
                            content: '';
                            height: 15px;
                            background-color: $black-color;
                        }

                        &:last-child {
                            margin-right: 0;

                            &::before {
                                display: none;
                            }
                        }

                        a {
                            color: #929ba4;
                            font-size: $font-size;
                        }

                        i {
                            position: absolute;
                            left: 0;
                            top: 2px;
                            font-size: 18px;
                            color: $main-color;
                        }
                    }
                }
            }

            .article-list {
                padding-left: 0;
                margin-bottom: 0;

                li {
                    list-style-type: none;
                    margin-bottom: 15px;
                    position: relative;
                    padding-left: 20px;
                    color: $paragraph-color;

                    &::before {
                        position: absolute;
                        content: "";
                        height: 10px;
                        width: 10px;
                        background-color: $paragraph-color;
                        border-radius: 10px;
                        left: 0;
                        top: 5px;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .article-image {
                margin-top: 25px;
                margin-bottom: 25px;
            }

            .article-tag {
                padding-left: 0;
                margin-top: 20px;
                margin-bottom: 0;
                padding: 30px;
                background-color: $white-color;

                li {
                    list-style-type: none;
                    display: inline-block;

                    span {
                        font-size: 18px;
                        color: $black-color;
                        font-weight: bold;
                        margin-right: 5px;
                    }

                    a {
                        display: inline-block;
                        padding: 5px 20px;
                        color: #929ba4;
                        background-color: #f6f7f9;

                        &:hover {
                            background-color: $main-color;
                            color: $white-color;
                        }
                    }
                }
            }
        }
    }
}

blockquote,
.blockquote {
    background-color: $white-color;
    padding: 30px !important;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 5px;

    p {
        color: $black-color;
        margin-bottom: 0;
        font-size: 20px !important;
        font-weight: 600;
    }
}

.comments-area {
    margin-top: 30px;

    .comments-title {
        margin-bottom: 30px;
        font-size: 35px;
    }

    ol,
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    .comment-list {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    .children {
        margin-left: 20px;
    }

    .comment-body {
        border-bottom: 1px dashed #eeeeee;
        padding-left: 70px;
        color: $black-color;
        margin-bottom: 20px;
        padding-bottom: 20px;

        .reply {
            margin-top: 15px;

            a {
                border: 1px dashed #ded9d9;
                color: $black-color;
                display: inline-block;
                padding: 5px 25px 5px;
                border-radius: 30px;
                text-transform: capitalize;
                font-size: 14px;
                font-weight: 500;

                &:hover {
                    color: $white-color;
                    background-color: $main-color;
                    border-color: $main-color;
                }
            }
        }
    }

    .comment-author {
        font-size: 20px;
        margin-bottom: 8px;
        position: relative;
        z-index: 2;
        font-weight: bold;

        .avatar {
            height: 50px;
            left: -65px;
            position: absolute;
            width: 50px;
        }

        .fn {
            font-weight: 600;
        }
    }

    .comment-metadata {
        color: $paragraph-color;
        margin-bottom: 10px;
        font-size: 14px;

        a {
            display: inline-block;
            color: $paragraph-color;

            &:hover {
                color: $optional-color;
            }
        }
    }

    .comment-respond {
        margin-top: 30px;

        .comment-reply-title {
            margin-bottom: 0;
            font-size: 36px;
        }

        .comment-form-comment {
            float: left;
            width: 100%;
        }

        input[type="date"],
        input[type="time"],
        input[type="datetime-local"],
        input[type="week"],
        input[type="month"],
        input[type="text"],
        input[type="email"],
        input[type="url"],
        input[type="password"],
        input[type="search"],
        input[type="tel"],
        input[type="number"],
        textarea {
            display: inline-block;
            width: 100%;
            background-color: #f6f7f9;
            border: 1px solid #ebebeb;
            padding: 15px;
            height: 50px;
            outline: 0;
            border-radius: 2px;
            color: $black-color;
            border: 1px solid $white-color;
            transition: $transition;

            &:focus {
                border: 1px solid $main-color;
            }

            &::placeholder {
                color: $paragraph-color;
            }
        }

        textarea {
            height: auto !important;
            padding-top: 15px;
        }

        .comment-form-author {
            float: left;
            width: 100%;
            margin-bottom: 20px;
        }

        .comment-form-email {
            float: left;
            width: 100%;
            margin-bottom: 20px;
        }

        .comment-form-url {
            float: left;
            width: 100%;
            margin-bottom: 20px;
        }

        .comment-form-cookies-consent {
            width: 100%;
            float: left;
            position: relative;
            padding-left: 20px;
            margin-top: 15px;
            margin-bottom: 20px;

            input {
                position: absolute;
                left: 0;
                top: 6.5px;
            }

            label {
                display: inline-block;
                margin: 0;
                color: $paragraph-color;
            }
        }

        .form-submit {
            float: left;
            width: 100%;

            input {
                background: $main-color;
                border: none;
                color: $white-color;
                padding: 10px 30px 10px;
                display: inline-block;
                cursor: pointer;
                text-transform: capitalize;
                transition: $transition;
                border-radius: 0;
                font-weight: 500;
                font-size: 15px;

                &:hover {
                    background-color: $optional-color;
                }
            }
        }
    }
}
