/*================================================
Choose Area CSS
=================================================*/
.choose-area {
    &.bg-f6f7f9 {
        background-color: #f6f7f9;
    }
}

.choose-item {
    max-width: 570px;
    padding-right: 30px;

    @media (max-width: 991px) {
        padding-right: 0;
    }

    .content {
        h3 {
            font-size: 36px;
        }
    }

    .choose-inner-content {
        position: relative;
        margin-top: 30px;
        padding-left: 110px;

        .icon {
            position: absolute;
            left: 0;
            top: 0;

            i {
                display: inline-block;
                height: 80px;
                width: 80px;
                line-height: 80px;
                background-color: $main-color;
                color: $white-color;
                font-size: 50px;
                text-align: center;
                border-radius: 50%;
                transition: $transition;
            }
        }

        h4 {
            margin-bottom: 12px;
        }

        &:hover {
            .icon {
                i {
                    animation: bounce 1s;
                }
            }
        }
    }

    &.item-wrap {
        .choose-inner-content {
            .icon {
                i {
                    background-color: #e3e7ff;
                    color: $black-color;
                }
            }

            &:hover {
                .icon {
                    i {
                        background-color: $main-color;
                        color: $white-color;
                        animation: bounce 1s;
                    }
                }
            }
        }
    }
}

.choose-image {
    position: relative;

    .image-box {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -100px;
        border-right: 10px solid $white-color;
        border-top: 10px solid $white-color;
        border-bottom: 10px solid $white-color;
        border-radius: 10px;
        background-color: $white-color;

        @at-root .choose-area--region & {
            display: block;
            position: static;
            border: none;
            border-radius: 10px;
            transform: none;
            transition: transform $transition;

            &:hover {
                transform: scale(1.1);
            }
        }

        img {
            padding: 7px 7px 0;

            @media (max-width: 1199px) {
                padding: 7px 5px 0;
            }
        }

        span {
            display: inline-block;
            width: 100%;
            padding: 7px 4px 7px;

            @media (max-width: 1199px) {
                padding: 7px 3px 0;
                font-size: 13px;
            }

            @media (max-width: 991px) {
                padding: 7px 5px 7px;
                font-size: 16px;
            }

            @media (max-width: 600px) {
                font-size: 13px;
            }
        }

        .video-btn {
            display: inline-block;
            width: 70px;
            height: 70px;
            line-height: 70px;
            background-color: $white-color;
            border-radius: 50%;
            color: $black-color;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: 50%;
            transform: translateY(-50%);
            transition: $transition;

            i {
                font-size: 65px;
                position: relative;
                top: 4px;
                left: 8px;
                color: $main-color;
                transition: $transition;
            }

            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-radius: 50%;
                border: 2px solid $white-color;
                animation: ripple 1s linear infinite;
                transition: $transition;
            }

            &:hover {
                background-color: $main-color;

                i {
                    color: $white-color;
                }
            }
        }
    }

    @at-root .choose-area--region & {
        &::before {
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            background-color: #000000;
            left: 0;
            right: 0;
            top: 0;
            opacity: .4;

            @media (max-width: 479px) {
                background-color: $black-color;
                opacity: 1; 
            }
        }
    }
}

.choose-image-wrap {
    position: relative;

    .video-btn {
        display: inline-block;
        width: 70px;
        height: 70px;
        line-height: 70px;
        background-color: $main-color;
        border-radius: 50%;
        color: $white-color;
        position: absolute;
        z-index: 1;
        left: 30%;
        transform: translateX(-30%);
        bottom: 20px;
        transition: $transition;

        i {
            font-size: 65px;
            position: relative;
            top: 4px;
            left: 8px;
            color: $white-color;
            transition: $transition;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            bottom: 0;
            left: 0;
            border-radius: 50%;
            border: 2px solid $main-color;
            animation: ripple 1s linear infinite;
            transition: $transition;
        }

        &:hover {
            background-color: $main-color;

            i {
                color: $white-color;
            }
        }
    }
}

@keyframes ripple {
    0% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.75);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}


.choose-regions {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    left: -50px;
    right: -50px;
    padding: 0;
    margin: 0;
    list-style: none;
    transform: translateY(50%);
    z-index: 2;

    @media (max-width: 1199px) { 
        right: -100px;
    }

     @media (max-width: 600px) { 
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px 20px;
        top: 20px;
        bottom: 20px;
        right: 20px;
        left: 20px;
        transform: none;
     }

     @media (max-width: 600px) { 
        top: 12px;
        bottom: 12px;
        right: 15px;
        left: 15px;
     }

     @media (max-width: 359px) {
        right: 8px;
        left: 8px;
     }

    svg {
        margin-right: 10px;
    }

    &__item {
        width: 25%;
        margin-right: 10px;
        color: #fff;
        font-size: 14px;
        font-weight: 700;

        @media (max-width: 1199px) {
            width: 22%;
            margin-right: 5px;
        }

         @media (max-width: 600px) { 
            width: 140px;
            margin-right: 0;
            align-self: end;
            font-size: 13px;
         }

         @media (max-width: 359px) {
            width: 130px;
         }

        &:last-child {
            margin-right: 0;
        }

        &:nth-child(2n) {
            @media (max-width: 600px) {
                justify-self: end;
            }
        }

         &:nth-child(-n+2) {
            @media (max-width: 600px) {
                align-self: start;
            }
         }

    }
}