/*
* Теги выбранных фильтров на странице региона
*/

.filter-tags {
	padding: 0 25px;

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        display: inline-flex;
        vertical-align: middle;
        border-radius: 20px;
        padding: 4px 10px;
        font-size: 12px;
        font-weight: 500;
        margin-right: 3.75px;
        margin-bottom: 3.75px;
        background-color: #f5683d;
        border-color: #ff5421;
        color: #fff;
        word-break: break-all;
        box-sizing: border-box;
        cursor: pointer;

        button {
			position: relative;
			display: inline-block;
			margin: 0 -4px 0 8px;
			padding-left: 16px;
			border-left: 1px solid #008fa1;
			border-color: #fff;
			background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);
			background-size: 8px;
			background-repeat: no-repeat;
			background-position: center;
			width: 8px;
			font-size: 0;
			line-height: 1;
			opacity: .75;
			border-radius: 0;
		}
    }
}