/*================================================
Иконка количества фото pict-num-icon
=================================================*/
.pict-num-icon {
	transition: 0.5s;
	background-color: #ffffff;
	border-radius: 50px;

	i {
		display: inline-block;
		height: 50px;
		width: 50px;
		line-height: 50px;
		background-color: #ff5421;
		color: #ffffff;
		font-size: 18px;
		text-align: center;
		border-radius: 50px;
		margin: 2px;
		transition: 0.5s;
	}
}
